<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <br>
        <h1>submit query</h1>

        <br>

        <form method="POST" action="/submit">
        <div class="input-group mb-3">

                <input type="text" class="form-control" name="query" placeholder="query" aria-label="Search Query" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="industry" placeholder="industry" aria-label="Search Query" aria-describedby="basic-addon2">
          <div class="input-group-append">
<!--             <button type = "submit" class="btn btn-outline-secondary" type="button">Search</button> -->
          </div>
        </div>
        <input type="submit">

      </div>
      </form>
</body>

</html>
