<html>
<!-- https://github.com/ruby/csv -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
      <br>
      <h1>query results</h1>
      <br>

      <br>
      <center>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">query</label>
            <input type="query" class="form-control" id="query" placeholder="query">
          </div>
          <button type="submit" class="btn btn-primary mb-2">search</button>
        </form>
      </center>
      </br>
      <table class="table table-hover table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">URL</th>
            <th scope="col">Risk</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
        <% @csv_data.each do |entry| %>
        
          <tr>
            <td><%= entry[0] %></td>
            <td><%= entry[1] %></td>
            <td><%= entry[2] %></td>
            <td><%= entry[3] %></td>
          </tr>
          
        <% end %>


        </tbody>
      </table>

    </div>
</body>

</html>
